*.py[cod]
.DS_Store
!.babelrc
!.circleci
!.codeclimate.yml
!.coveragerc
!.dockerignore
!.eslintrc.json
!.flowconfig
!.github
!.gitignore
!.gqlconfig
!.npmrc
!.nvmrc
!.plop
!.pylintrc
!.testcafe
!.travis*
!.tx
#*.css
*.log
*.pot
*.pyc
local_settings.py
__pycache__/
build/
coverage/
dist/
*\.egg*
# data
/media/
/node_modules//static/
.vscode/
.idea/
# Exported results file
django-queries-results.html
configs/*
venv/
venv-saleor/
db.sqlite3

#staticfiles/
Admin_Theme/
